<!-- Services -->
<style>
.button {
  padding: 15px 25px;
  font-size: 24px; text-align: center;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: #4CAF50;
  border: none; border-radius: 15px;
  box-shadow: 0 9px #999;
  /*
  //position: relative;
  //left: 200px;
  */
}

.button:hover {background-color: #3e8e41}

.button:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
</style>

  <section class="page-section" id="{{ site.data.sitetext.services.section | default: "services" }}">
    <div class="container">
	
      <div class="row text-center">
        <div class="col-md-8 mx-auto">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/9iNyFZoxFPw" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        <div class="col-md-8 mx-auto">
          <a class="btn btn-primary btn-xl text-uppercase js-scroll-trigger"><span>Register</span></a>
          <a class="btn btn-primary btn-xl text-uppercase js-scroll-trigger"><span>Discord</span></a>
        </div>

        </div>
      </div>


	  
    </div>
  </section>
<!-- End Services -->
