<!-- Services -->

  <section class="page-section" id="{{ site.data.sitetext.services.section | default: "services" }}">
    <div class="container">
	
      <div class="row text-center">
        <div class="col-md-8 mx-auto">
            <meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=0">

<div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item"
                src="https://www.youtube.com/embed/9iNyFZoxFPw" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <br>
            <br>
            <br>

</div>
        </div>
        <div class="col-md-8 mx-auto">
<a class="btn btn-primary btn-xl text-uppercase js-scroll-trigger"
    href="https://docs.google.com/forms/d/e/1FAIpQLScR6uz4jq474lLiRVsF2rgw1Csu-34HRifz5fKxhsWrN81k6g/viewform?usp=sf_link"><span>Register</span></a>
<a class="btn btn-primary btn-xl text-uppercase js-scroll-trigger"
    href="https://docs.google.com/forms/d/e/1FAIpQLScsK0u4noClgAyr-vzK2PEbtmc_tujNyi2EyY8Zv-d_180Scg/viewform"><span>Discord</span></a>
<a class="btn btn-primary btn-xl text-uppercase js-scroll-trigger"
    href="https://discord.gg/y2WptVmEH5"><span>Invite</span></a>
        </div>

        </div>
      </div>


	  
    </div>
  </section>
<!-- End Services -->
